<footer class="main-footer">
    <div class="container">
        <div class="footer-row">

            <div class="footer-links">
                <h4>Perfil y ayuda</h4>
                <ul>
                    <li class="text"><a href="">Mi cuenta</a></li>
                    <li class="text"><a href="">Preguntas frecuentes</a></li>
                    <li class="text"><a href="">envio y montaje</a></li>
                </ul>
            </div>

            <div class="footer-links">
                <h4>Empresa</h4>
                <ul>
                    <li><a href="">Quienes somos</a></li>
                    <li><a href="">Nuestros locales</a></li>
                    <li><a href="">Calificaciones</a></li>
                </ul>
            </div>

            <div class="footer-links">
                <h4>Legal</h4>
                <ul>
                    <li><a href="">Politica de privacidad</a></li>
                    <li><a href="">Politica de cookies</a></li>
                </ul>
            </div>

            <div class="footer-links">
                <h4>Contacto</h4>
                <ul>
                    <li><a href="">Telefono|Email</a></li>
                    <li><a href="">Soporte</a></li>
                    <li><a href="">Trabaja con nosotros</a></li>
                </ul>
            </div>

            <div class="social-links">
                <h4>Seguinos en nuestras redes</h4>

                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
            </div>

        </div>
    </div>
    </footer>