<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main class="dashboard">
<fieldset class="tabla-dashboard">
    <section class="">
        <article class="">
<a href=""><i></i></a>
<a href=""><i></i></a>
<form action="" method=""><button type="submit" class=""><i></i></button></form>
            <img src="" alt="">
            <div class="">
                <h4 class=""><%= %></h4>
            </div>
        </article>
    </section>
</fieldset>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>