<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Quantum PC</title>
</head>

<body>
    <main>
        <div class="carrusel-banner">
            <img src="/img/Banner-img.jpg" alt="item-carrusel">
        </div>
        <h2 class="products-tittle">PRODUCTOS DESTACADOS</h2>
        <div class="products-cards">
            <article class="product-card">
                <div class="img-content">
                    <img src="/img/product-img-1.png" alt="img-producto">
                </div>
                <div class="product-info">
                    <h3>Descripcion del</h3>
                    <h3>$$Precio$$</h3>
                </div>
            </article>
            <article class="product-card">
                <div class="img-content">
                <img src="/img/product-img-2.png" alt="img-producto">
            </div>
                <div class="product-info">
                    <h3>Descripcion del</h3>
                    <h3>$$Precio$$</h3>
                </div>
            </article>
            <article class="product-card">
                <div class="img-content">
                <img src="/img/product-img-3.png" alt="img-producto">
            </div>
                <div class="product-info">
                    <h3>Descripcion del</h3>
                    <h3>$$Precio$$</h3>
                </div>
            </article>
            <article class="product-card">
                <div class="img-content">
                <img src="/img/product-img-4.png" alt="img-producto">
            </div>
                <div class="product-info">
                    <h3>Descripcion del</h3>
                    <h3>$$Precio$$</h3>
                </div>
            </article>
            <article class="product-card">
                <div class="img-content">
                <img src="/img/product-img-5.png" alt="img-producto">
            </div>
                <div class="product-info">
                    <h3>Descripcion del</h3>
                    <h3>$$Precio$$</h3>
                </div>
            </article>
        </div>
    </main>
</body>

</html>