<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quamtum pc</title>
    <link rel="stylesheet" href="/Ecommerce/desing/Logo.jpga">
</head>
<header></header>
<body>
    <main>
<div><img class="logo" src="//Ecommerce/desing/Logo.jpg" alt=" logo"></div>
        <form action="resultado.html" method="POST">
            
            <label>E-mail:</label>
            <input type="email" name="email" required>
        </p>
        <p>
            <label>Contraseña:</label>
            <input type="password" name="password" required>
        </p>
    </form>
</main>
</body>
</html>