
.container-products-wrapper {
        margin-left: 23%;
    }
.form-label {
        margin-bottom: 2.5rem;
    }
    .form-input{
        
    }
.div-category{
    margin-bottom: 12px;
   
    }
.select{
    margin-bottom: 12px;
    }
.boton{
background-color: blue;
color:white
    }

