/* 
body {
    background-color: #d9d9d9;
    color: #000000;
}

.container-fluid {
    padding: 20px;
}

.form-group label {
    color: var(--blanco);
}

.form-control {
    background-color: #ffffff;
    color: var(--grisOscuro);
}

.btn-primary {
    background-color: var(--celeste);
    border-color: var(--celeste);
}

.btn-primary:hover {
    background-color: var(--azul);
    border-color: var(--azul);
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(28, 85, 96, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: var(--celeste);
    border-color: var(--celeste);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    background-color: var(--azul);
    border-color: var(--azul);
} */