:root {
    /* Colores */
    --negro: #0F1113;
    --grisOscuro: #1F2124;
    --grisClaro:#9F9F9F;
    --blanco:#D9D9D9;
    --totalwhite: #ffffff;
    --azul:#001F36;
    --celeste: hsl(189.57deg 56.1% 24.12%);
    --amarillo: #ffc107;
    --rojo: #dc3545;
/* Tipografia */
    --family-inter:
    'Inter', sans-serif;
    --family-sans:
    'DM Sans', sans-serif;
    --family-fugazOne:
    'Fugaz One', sans-serif;
    
        --color-fondo: #ffffff; /* Color de fondo para el tema claro */
        --color-texto: #000000; /* Color de texto para el tema claro */
      
      [data-theme="dark"] {
        --color-fondo: #000000; /* Color de fondo para el tema oscuro */
        --color-texto: #ffffff; /* Color de texto para el tema oscuro */
      }
 }


*{
    list-style: none;
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
  }
