.main-login {
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 9%;
    width: 81%;
    display: flex;
    flex-direction: column;
    background: var(--grisOscuro);
    justify-content: center;
} 

.subtitulo-login {

color: var(--blanco);

font-family: var(--family-sans);

font-size: 17px;

margin-left: 31%;

margin-bottom: 1%;
}

.form-login {
    width: 97%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.div-general-login {
    position: relative;
    width: 81%;
    margin-left: 27px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

#fa-envelope-login {
    position: absolute;
    margin-left: 24px;
    margin-top: 16px;
}
.input-login {
    box-shadow: -20px 14px 1px 0px;
    border-radius: 5px 5px 5px 5px;
    width: 81%;
    margin-left: 17px;
    margin-top: 13px;
    text-align: center;
}
.div-key-login{
    width: 92%;
    margin-left: 5px;;
    
}
.key-login {
    width: 87%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: -20px 14px 1px 1px;
    text-align: center;
    margin-left: 7%;
}
#fa-key-login {
    position: absolute;
    margin-left: 19px;
    margin-top: 4px;
}

.usuario-boton-login {
    padding: 2px;
    color: var(--blanco);
    font-family: var(--family-sans);
    font-size: 14px;
}
.boton-login{
    cursor: pointer;
    width: 40%;
    display: flex;
    justify-content: center;
    border-radius: 2px 2px 2px 2px;
    margin-left: 29%;
    background: var(--celeste);
    box-shadow: -20px 14px 1px 1px;
}
.link-login{
    text-decoration: var(--blanco);
    border: 0px 0px 0px 1px solid white;
}

/* TABLET */

@media (min-width: 426px) {
    .main-login {
     
width: 50%;
     
margin-left: 26%;
    } 
    .subtitulo-login {

margin-left: 35%;

}

    .form-login {
     
    }
    
    .div-general-login {
       
    }
    
    #fa-envelope-login {
       
margin-left: 26px;
    }
    .input-login {
       
margin-left: 7%;
    }
    .div-key-login{
      
        
    }
    .key-login {
    }
    #fa-key-login {
  
margin-left: 26px;
  
}
    
    .usuario-boton-login {
      
    }
    .boton-login{
   
    }
    .link-login{
     
    }
}

/* PORTATIL DESkTOP */

@media (min-width: 769px) {
    .main-login {
     
    } 
    .subtitulo-login {

margin-left: 39%;

}  

    .form-login {
     
    }
    
    .div-general-login {
       
    }
    
    #fa-envelope-login {
       
margin-left: 43px;
    }
    .input-login {
       
padding: 3px;
    }
    .div-key-login{
      
        
    }
    .key-login {
     
padding: 3px;
    }
    #fa-key-login {
  
margin-left: 40px;
  
}
    
    .usuario-boton-login{
        background: var(--celeste);
    }
    .usuario-boton-login:hover {
        background: blue;
 transition: all;
    }
    .boton-login:hover{
  background-color: blue;
    }
    .link-login{
     
    }
}