/*<=================================================================================================================>*/
/*                     MOBILE                            MOBILE                            MOBILE                    */
/*<=================================================================================================================>*/

@media (max-width:425px){
    .detalle-producto{
        background-color: white;
        padding: 0 67px;
        font-family: var(--family-inter);
    }
    .product-title{
    
    font-size: 21px;
    
    text-align: center;
    
    padding-bottom: 15px;
    }
   
    .content{
    
    border-left: 3px solid var(--celeste);
    
    border-right: 3px solid var(--celeste);
    }
    .buys-product{display: flex;}
    .buys-buttons{
        
    display: flex;
        
    justify-content: center;
    }
    .details-nowProduct{
    
    width: 100%;
    }
    .gallery{
    
    display: flex;
    
    flex-direction: row;
    
    width: 50%;
    }
    .gallery-img{
    
    padding-left: 10px;
    }
   
    .data-img{width: 8px;height: 8px;}
    .img{
        
    display: flex;
        
    width: 100%;
    }
    .details{
    
    width: 50%;
    }
    .details-price{
        text-align: center;
    }
    .details-cash{
    
    font-size: 34px;
    
    color: black;
    
    text-shadow: 2px 3px 2px  var(--celeste);
    
    font-weight: 700;
    }
    .cash-price{
    
    font-size: 8px;
    
    color: var(--celeste);
    
    font-weight: 600;
    }
    .details-card{
        
    font-size: 13px;
        
    padding: 8px 0px 4px 18px;
        
    font-weight: 600;
    }
    .data-product{
        
    color: var(--celeste);
        
    padding: 1px 0px 0px 23px;
        
    font-size: 8px;
    }
   
    .input-buys{
        
    display: flex;
        
    justify-content: center;
        
    align-items: center;
    }
    .input-minus{
    
    font-size: 17px;
    
    border: none;
    
    background: var(--grisClaro);
    
    height: 30px;
    
    width: 40px;
    
    border-radius: 5px 0px 0px 5px;
    }
    .input-number{
    
    font-size: 15px;
    
    background: var(--blanco);
    
    border: none;
    
    height: 30px;
    
    width: 23%;
    
    text-align: center;
    
    outline: none;
    }
    .input-plus{
    
    font-size: 17px;
    
    border: none;
    
    /* padding: 0px 0px 0px 0px; */
    
    background: var(--grisClaro);
    
    height: 30px;
    
    width: 40px;
    
    border-radius: 0px 5px 5px 0px;
    }
    .details-nowButton{
    
    font-size: 12px;
    
    /* display: flex; */
    
    /* justify-content: center; */
    
    height: 30px;
    
    width: 205px;
    
    /* padding: 0px; */
    
    margin: 6px 0px 13px 7px;
    
    color: white;
    
    background: var(--celeste);
    
    border: none;
    
    border-radius: 4px;
    
    font-weight: 600;
    }
    .details-afterButton{
    
    font-size: 10px;
    
    border: none;
    
    /* display: flex; */
    
    justify-content: center;
    
    height: 30px;
    
    width: 205px;
    
    /* padding: 7px; */
    
    margin: 5px 0px 0px 8px;
    
    color: var(--celeste);
    
    background: var(--blanco);
    
    border-radius: 4px;
    
    font-weight: 800;
    }
    .details-title{
    
    display: flex;
    
    justify-content: center;
    
    width: 100%;
    
    margin: 15px 0px 4px 0px;
    
    border-top: 3px solid var(--celeste);
    
    border-bottom: 3px solid var(--celeste);
    
    text-shadow: 0px 2px 2px var(--celeste);
    
    font-weight: 600;
    
    font-size: 16px;
    
    padding: 5px 0px;
    }
    .details-product{font-size: 10px;margin-left: 25px;list-style: circle;}
    
}
/*<=================================================================================================================>*/
/*                     TABLET                            TABLET                            TABLET                    */
/*<=================================================================================================================>*/

@media (min-width: 426px) {
.detalle-producto{
    background-color: white;
    padding: 0 75px;
    font-family: var(--family-inter);
}
.product-title{

font-size: 21px;

text-align: center;

padding-bottom: 15px;
}

.content{

border-left: 3px solid var(--celeste);

border-right: 3px solid var(--celeste);
}
.buys-product{display: flex;}
.buys-buttons{
    
display: flex;
    
justify-content: center;
}
.details-nowProduct{

width: 100%;
}
.gallery{

display: flex;

flex-direction: row;

width: 50%;
}
.gallery-img{

padding-left: 10px;
}

.data-img{width: 8px;height: 8px;}
.img{
    
display: flex;
    
width: 100%;
}
.details{

width: 50%;
}
.details-price{
    text-align: center;
}
.details-cash{

font-size: 34px;

color: black;

text-shadow: 2px 3px 2px  var(--celeste);

font-weight: 700;
}
.cash-price{

font-size: 8px;

color: var(--celeste);

font-weight: 600;
}
.details-card{
    
font-size: 13px;
    
padding: 8px 0px 4px 18px;
    
font-weight: 600;
}
.data-product{
    
color: var(--celeste);
    
padding: 1px 0px 0px 23px;
    
font-size: 8px;
}

.input-buys{
    
display: flex;
    
justify-content: center;
    
align-items: center;
}
.input-minus{

font-size: 17px;

border: none;

background: var(--grisClaro);

height: 30px;

width: 40px;

border-radius: 5px 0px 0px 5px;
}
.input-number{

font-size: 15px;

background: var(--blanco);

border: none;

height: 30px;

width: 23%;

text-align: center;

outline: none;
}
.input-plus{

font-size: 17px;

border: none;

/* padding: 0px 0px 0px 0px; */

background: var(--grisClaro);

height: 30px;

width: 40px;

border-radius: 0px 5px 5px 0px;
}
.details-nowButton{

font-size: 12px;

/* display: flex; */

/* justify-content: center; */

height: 30px;

width: 205px;

/* padding: 0px; */

margin: 6px 0px 13px 7px;

color: white;

background: var(--celeste);

border: none;

border-radius: 4px;

font-weight: 600;
}
.details-afterButton{

font-size: 10px;

border: none;

/* display: flex; */

justify-content: center;

height: 30px;

width: 205px;

/* padding: 7px; */

margin: 5px 0px 0px 8px;

color: var(--celeste);

background: var(--blanco);

border-radius: 4px;

font-weight: 800;
}
.details-title{

display: flex;

justify-content: center;

width: 100%;

margin: 15px 0px 4px 0px;

border-top: 3px solid var(--celeste);

border-bottom: 3px solid var(--celeste);

text-shadow: 0px 2px 2px var(--celeste);

font-weight: 600;

font-size: 16px;

padding: 5px 0px;
}
.details-product{font-size: 10px;margin-left: 25px;list-style: circle;}
       
}

/*<=================================================================================================================>*/
/*                    DESKTOP                           DESKTOP                           DESKTOP                    */
/*<=================================================================================================================>*/

@media(min-width:769px){
.detalle-producto{
    background-color: white;
    padding: 0 75px;
    font-family: var(--family-inter);
}
.product-title{

font-size: 30px;

text-align: center;

padding-bottom: 15px;
}

.content{

border-left: 3px solid var(--celeste);

border-right: 3px solid var(--celeste);
}
.buys-product{display: flex;}
.buys-buttons{
    
display: flex;
    
justify-content: center;
}
.details-nowProduct{

width: 100%;
}
.gallery{

display: flex;

flex-direction: row;

width: 55%;
}
.gallery-img{

padding-left: 10px;
}

.img{
    
display: flex;
    
width: 100%;
}
.details{

width: 45%;
}
.details-price{
    text-align: center;
}
.details-cash{

font-size: 52px;

color: black;

text-shadow: 2px 4px 2px var(--celeste);

font-weight: 700;
}
.cash-price{

font-size: 12px;

color: var(--celeste);

font-weight: 600;
}
.details-card{
    
font-size: 21px;
    
padding: 12px 0px 6px 18px;
    
font-weight: 600;
}
.data-product{
    
color: var(--celeste);
    
padding: 6px 0px 0px 45px;
    
font-size: 13px;
}

.input-buys{
    
display: flex;
    
justify-content: center;
    
align-items: center;
}
.input-minus{

font-size: 34px;

border: none;

background: var(--grisClaro);

height: 45px;

width: 55px;

border-radius: 7px 0px 0px 7px;
}
.input-number{

font-size: 20px;

background: var(--blanco);

border: none;

height: 45px;

width: 30%;

text-align: center;

outline: none;
}
.input-plus{

font-size: 32px;

border: none;

/* padding: 0px 0px 0px 0px; */

background: var(--grisClaro);

height: 45px;

width: 55px;

border-radius: 0px 7px 7px 0px;
}
.details-nowButton{

font-size: 16px;

/* display: flex; */

/* justify-content: center; */

height: 45px;

width: 230px;

padding: 0px;

margin: 15px 0px 10px 15px;

color: white;

background: var(--celeste);

border: none;

border-radius: 5px;

font-weight: 600;
}
.details-afterButton{

font-size: 13px;

border: none;

/* display: flex; */

/* justify-content: center; */

height: 45px;

width: 230px;

padding: 12px;

margin: 15px 0px 5px 22px;

color: var(--celeste);

background: var(--blanco);

border-radius: 5px;

font-weight: 800;
}
.details-title{

display: flex;

justify-content: center;

width: 90%;

margin: 15px 0px 15px 50px;

border-top: 3px solid var(--celeste);

border-bottom: 3px solid var(--celeste);

text-shadow: 0px 2px 2px var(--celeste);

font-weight: 600;

font-size: 24px;
}
.details-product{font-size: 13px;margin-left: 25px;list-style: circle;}


}
