.main-register-registro {background-color: white;}
.subtitulo {
    margin-left: 29%;
}
.form-registre {
    display: flex;
    justify-content: space-around;
}
.div-general-registre {background: var(--grisOscuro);width: 70%;border: solid;display: flex;flex-direction: column;gap: 10px;align-items: center;margin-top: 3px;}

.input-registre {text-align: center;box-shadow: -14px 9px 1px 1px;}


.div-key-registre {
}


.key-registre {text-align: center;box-shadow: -14px 9px 1px 1px;}
.boton-registre {text-align: center;border: solid 1px grey;box-shadow: -20px 14px 1px 1px;}
.boton-registre:hover{
    color: black;
}
.usuario-boton-registre {
    background-color: var(--celeste);
    width: 45%;
cursor: pointer;
}

.usuario-boton-registre:hover{
color: aqua;
    }   
.sub-title {
}
#iUser{

position: absolute;

margin-left: 2%;

margin-top: 1%;
}
#ienvelope-resgistre{
    position: absolute;
    margin-left: 2%;
    margin-top: 1%;
}
#ikey-registre{
    position: absolute;
    margin-left: 2%;
    margin-top: 1%;
}
.bienvenido{
    color: var(--grisClaro);
}
/* TABLET */
@media (min-width: 426px) {
.main-register-registro {
    }
.subtitulo {
    margin-left: 41%;
    margin-bottom: 4px;
    }
.form-registre {
    }
.div-general-registre {
    margin-top: 5px;
    }


.input-registre {
    }

.div-key-registre {
    }

.key-registre {
    }
.boton-registre {
    }
.usuario-boton-registre {
    }
.sub-title {
    }
#iUser{

margin-top: 4px;

margin-left: 8px;
}
#ienvelope-resgistre{
    margin-top: 4px;
    margin-left: 8px;
}
#ikey-registre{
    margin-top: 4px;
    margin-left: 8px;
}
}
/* PORTATIL DESkTOP */
@media (min-width: 769px) {
.main-register-registro {
    }
.subtitulo {
    margin-left: 44%;
    }
.form-registre {
    }
.div-general-registre {
    }

.input-registre {

border-radius: 5px 5px 5px 5px;

width: 100%;

padding: 2px;

box-shadow: -20px 6px 1px 1px;

}
.div-key-registre {
    }

.key-registre {
    padding: 2px;
    box-shadow: -20px 6px 1px 1px;
    border-radius: 5px 5px 5px 5px;
    }
.boton-registre {
    }
.usuario-boton-registre {
    }
.sub-title {
    }   
#iUser{

margin-top: 4px;

margin-left: 8px;

}
#ienvelope-resgistre{
    margin-top: 4px;
    margin-left: 8px;
    }
#ikey-registre{
    margin-top: 4px;
    margin-left: 8px;
    } 
}