.main-register-registro{
     background-image: url("/200w\ \(5\).webp"); 
   
    padding-top: 2%;
    background-color: #1f2124;
}
header{
    width: 100%;
    height: 43%;
    border:solid 3px blue
}
.form-registro {display: flex
    ;flex-direction: column;
    margin-left: 5%;
    margin-right: 24%;
}

 .registre-registro {
} 

.subtitulo{
    color: white;
    text-align: center;
}

.user{
    position: absolute;
    margin-left: 1%;
    margin-top: 19px;
}
.mail{
    position: absolute;
    margin-left: 1%;
    margin-top: 18px;
}

.key{
    position: absolute;
    margin-left: 1%;
    margin-top: 3px; 
}
.input-registro {text-align: center;width: 125%;margin-left: 0%;}

.usuario-boton-registro{

}
.boton-registro { } 

/* TABLET */
@media  (min-width: 426px ) {

    .main-register-registro{}

    .form-registro {
    }

    .registre-registro {
    } 
    
    .subtitulo{
    }
    
    .user{
    }
    .mail{
    }
    
    .key{ 
    }
    .input-registro {}
    
    .usuario-boton-registro{
    
    }
    .boton-registro { } 
}

/* PORTATIL DESkTOP */
@media  (min-width: 769px ) {

.main-register-registro{}

.form-registro {

}
 .registre-registro {
} 

.subtitulo{

}

.user{

}
.mail{

}

.key{

}
.input-registro {}

 .usuario-boton-registro{

}
.boton-registro { } 
}