.main-register-registro {
    background: linear-gradient(22deg, rgba(141, 173, 186, 1) 41%,
     rgba(9, 9, 121, 1) 69%, rgba(2, 0, 36, 1) 100%);
    background-image: url("/GIF\ cubos\ en\ ciberespacio.gif");
    width: 100%;
    padding: 3px;
}


.div-logo-registro {
   
}

.logo-registro {
    margin-left: 38%;
    width: 25%;
    border-radius: 50%;
    margin-top: 8px;
}

.subtitulo {
    color: white;
    text-align: center;
    width: 100%;
}

.form-register {
    width: 97%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}


.register-user {
    position: absolute;
    width: 99%;
    margin-top: 3px;
    background: linear-gradient(195deg, rgba(141, 173, 186, 1) 41%,
     rgba(9, 9, 121, 1) 69%, rgba(2, 0, 36, 1) 100%);
}

.fa-user {
    margin-top: 2px;
    position: absolute;
    margin-left: 10px;
}

.fa-envelope {
    margin-top: 2px;
    position: absolute;
    margin-left: 10px;
}

.mail-registro {
    margin-left: 1%;
    margin-top: 3px;
}

.input-registro {
    text-align: center;
    width: 97%;
    margin-bottom: 19px;
    border-radius: 26px 39px 41px 29px;
    box-shadow: 10px 12px 10px;
}

.fa-key {
    /* position: absolute;
margin-left: 1%;
margin-top: 3px;  */
}

.boton-registro {
    background-color: #3fd375;
    color: white;
    margin-left: 128px;
    margin-top: 12%;

}

.boton-registro-conten {
    border: solid 3px;
    width: 35%;
    display: flex;
    justify-content: center;
    border-radius: 11px 11px 11px 11px;
    background: radial-gradient(circle, rgba(63, 221, 251, 0.9500175070028011) 0%,
            rgba(103, 108, 199, 1) 100%);
    margin-bottom: 12px;
    margin-left: 27%;
    box-shadow: 10px 12px 10px;
    text-align: center;
    background: linear-gradient(55deg, rgba(0, 212, 255, 1) 41%, rgb(9 9 121 / 65%) 69%, rgb(2 0 36 / 37%) 100%);
}

.boton-registro:hover {
    background-color: rgb(11, 12, 12);
    color: white;


}
/* TABLET */
@media (min-width: 426px) {

    .main-register-registro {}

    .header {}

    .div-logo-login {}

    .logo-registro {
        width: 18%;
        margin-left: 42%;
    }

    .subtitulo {}

    .form-register {}

    .fa-user {
            margin-left: 113px;
    }

    .fa-envelope {
        margin-top: 43px;
        position: absolute;
        margin-left: -76%;
    }
    
    .mail-registro {}
    .register-user-inputs .input-registro {
        width: 78%;
        margin-left: 12%;
    }
    .input-registro {}
    
    .fa-key {
        margin-top: 43px;
        position: absolute;
        margin-left: -76%;
    }
   
    .boton-registro-conten{
        width: 24%;
        margin-left: 33%;
        background-color: aqua;
        display: flex;
        justify-content: center;
        border-radius: 11px 11px 11px 11px;
        margin-bottom: 12px;
        margin-left: 38%;
        text-align: center;
        
    }
    .boton-registro-conten:hover {
        color:blue;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
}
    
    

}

/* PORTATIL DESkTOP */
    @media (min-width: 769px) {

    .main-register-registro {}

    .header {}

    .div-logo-registro {}

    .logo-registro {
        width: 14%;
        margin-left: 42%;
        margin-top: 10px;

    }

    .subtitulo {}

    .form-register {
        width: 100%;
    }

    .fa-user {
        margin-left: 128px;
    }

    .mail-registro {}

    .input-registro {}

    .register-user-inputs .input-registro {
        width: 75%;
        margin-left: 12%;
    }
    .fa-envelope{
        margin-left: -74%;
    }
    .fa-key {
        margin-left: -74%;
    }

    .boton-registro {}

    .boton-registro:hover {}
}