/*<=================================================================================================================>*/
/*                     MOBILE                            MOBILE                            MOBILE                    */
/*<=================================================================================================================>*/
@media (max-width:425px) {

body .updateProduct{
    height: 100%;
    width: 100%;
    font-family:var(--family-sans);
}
.updateProduct-container {
    padding: 5%;
    margin: 0% 0% 2% 0%;
    height: 100%;
    width: 100%;
}
.formUpdateProduct{
    text-align: center;
    margin: 0%;
    padding: 0px;
    border: 1px solid var(--celeste);
}
.UpdateProduct-title{
    text-align: center;
    font-size: 50px;
}
.saveButton{
    text-align: center;
} 
.btn-success {
    color: #fff;
    background-color: var(--celeste);
    border-color: var(--bs-cyan);
}

}

/*<=================================================================================================================>*/
/*                     TABLET                            TABLET                            TABLET                    */
/*<=================================================================================================================>*/

@media (min-width: 426px) {

    body .updateProduct{
        height: 100%;
        width: 100%;
        font-family:var(--family-sans);
    }
    .updateProduct-container {
        padding: 5%;
        height: 100%;
        width: 100%;
    }
    .formUpdateProduct{
        padding: 20px;
        border: 1px solid var(--celeste);
        margin-bottom: 8%;
    }
    .UpdateProduct-title{
        text-align: center;
        font-size: 50px;
    }
    .saveButton{
        text-align: center;
    }
    .btn-success {
        color: #fff;
        background-color: var(--celeste);
        border-color: var(--bs-cyan);
    }

}

/*<=================================================================================================================>*/
/*                    DESKTOP                           DESKTOP                           DESKTOP                    */
/*<=================================================================================================================>*/

@media(min-width:769px) {
    
    .UpdateProduct-title{
        text-align: center;
        font-size: 50px;
    }
    .saveButton{
        text-align: center;
    }
    body .updateProduct-{
        height: 100%;
        width: 100%;
        font-family:var(--family-sans);
    }
    .updateProduct-container {
        background: var(--grisOscuro);
        padding: 5% 5% 5% 5%;
        height: 100%;
        width: 100%;
    }
    .formUpdateProduct{
        padding: 20px;
        border: 2px solid var(--celeste);
        margin-bottom: 8%;
    }
    .form-label{
        font-size: 20px;
    }
    .btn-success {
        color: #fff;
        background-color: var(--celeste);
        border-color: var(--bs-cyan);
    }
    
}