<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>
<body> 
  <main>
    <div class="area"></div>
    <nav class="main-menu">
      <ul>
        <li><a href="/"><img class="dash-logo" src="../../images/otros/Logo.ico" alt=""><span>quantum pc</span></img></a></li>
      </ul>
      <ul>
        <li>
            <a href="/">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                Home
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a href="/admin/crear-producto">
              <i class="fa fa-server" aria-hidden="true"></i>
                <span class="nav-text">
                   Crear Producto
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="/products/productDetail">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <span class="nav-text">
                  Editar Producto
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="#">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
                <span class="nav-text">
                  Eliminar Producto
                </span>
            </a>
           
        </li>
        <li>
            <a href="/products/cart">
              <i class="fa fa-cart-plus" aria-hidden="true"></i>
                <span class="nav-text">
                  Carrito
                </span>
            </a>
        </li>
        <li>
            <a href="/authentication/users">
              <i class="fa fa-id-card" aria-hidden="true"></i>
                <span class="nav-text">
                 Usuarios
                </span>
            </a>
        </li>
        <li>
           <a href="/admin/lista-producto">
             <i class="fa fa-wpforms" aria-hidden="true"></i>
             <span class="nav-text">
               Lista Producto
              </span>  
            </a>
          </li>
        <li>
           <a href="/products/productDetail">
             <i class="fa fa-wpforms" aria-hidden="true"></i>
             <span class="nav-text">
               detalle de Producto
              </span>  
            </a>
          </li>
          <li>
            <form action="/admin/search">

              <input type="text" name="keywords" placeholder="Buscar">
              <a href="#">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span class="nav-text">
                  Buscar asdasdasas
                </span>
              </a>
              
            </form>
        </li>
        <li>
            <a href="#">
               <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">
                    Documentation
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
           <a href="/admin/dashboard">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    salir
                </span>
            </a>
        </li>  
    </ul>
</nav>

  <div class="contain-dashboard">


  </div>
 
      

    



     

      </main>
 
</body>
     <!-- <script src="../public/js/funciones/dashboard.js"></script> -->
<!-- </body>   -->

</html>

