<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>
        <main>

            <section class="main-login">

                <form class="form-login" action="/authentication/login" method="post">
                    <h2 class="subtitulo-login">iniciar sesión</h2>

                    <div class="div-general-login">
                        <div class="input-component">
                            <i class="input-logo fa-solid fa-envelope"></i>
                            <input type="text" placeholder="Ingrese su email" name="email" required>
                        </div>


                        <div class="input-component">
                            <i class="input-logo fa-solid fa-key"></i>
                            <input type="Password" placeholder="Ingrese su contraseña" name="password" required>
                        </div>

                        <input class="login-button" type="submit" value="Ingresar">

                        <h3>No tenés cuenta? <a href="/authentication/register">Registrate!</a></h3>

                        <marquee class="bienvenido" behavior="" direction="">BIENVENIDOS A QUAMTUM PC</marquee>
                    </div>
                </form>

            </section>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>