<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<%- include('./partials/header') %>
<body>
    hola  eSTAS EN users
    <body>
		<div class="container">
			<div class="front">
				<header>
					<img src="../../images/avatrar/R2D2.png" alt=" Avatar">
				</header>
				<h3>Gaston</h3>
				<p>I am  a good scripter as well , I'm profical at Lua 5.1 game scripting languages. Especially roblox engine , I can help you if you got problem ! </p>
				<span>BIENVENIDO QUANTUM PC</span>
			</div>
			<div class="back">
				<ul>
                   
					<li>nombre: </li>
					<li>email: </li>
                   
				</ul>
			</div>
		</div>
    <%- include('./partials/footer') %>
</body>
</html>