    <header class="main-header">
        <div class="logo-container">
            <a href="/"><img src="../../../images/otros/Logo.jpg" alt="Logo"></a>
        </div>
        <div class="title-header">
            <h1 class="title">Quantum PC</h1>
          </div>
        <div class="search-bar">
          <form action="/buscar" method="GET" class="search-form">
            <input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="search-form_input">
            <!-- <button type="submit" class="search-form_button"></button> -->
            <i  id="lupa" class="fas fa-search"></i>
          </form>
        </div>
        <div class="user-actions">
          <a href="/authentication/login">
            <button id="users-button"><i class="fa-solid fa-user-large"></i><h3>Ingresar</h3></button>
          </a>
          <a href="/products/cart">
            <button id="shoppings-button"><i class="fa-solid fa-cart-shopping"></i><h3>Carrito</h3></button>
          </a>  
        </div>
        <div id="burger-menu">
          <button id="burger"><i class="fa-solid fa-bars barras"></i></button>
        </div>
      </div>
    </header>
    <nav class="product-categories-nav">
        <ul class="product-categories">
            <li><a href="/products/lista">Todos los Productos </a></li>
            <li><a href="#">Hardware</a></li>
            <li><a href="#">Periféricos</a></li>
            <li><a href="#">Notebooks</a></li>
            <li><a href="/admin/lista-producto#">DASHBOARD</a></li>
          </ul>
          
        </nav>
