<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>header</title>
    <link rel="icon" href="../../images/otros/Logo.ico" type="">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="main-header">
        <div class="logo-container">
            <img src="../../../images/otros/Logo.jpg" alt="Logo">
        </div>
        <div class="title-header">
            <h1 class="title">Quantum PC</h1>
          </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos">
            <button class="search-button"><i class="fas fa-search"></i></button>
        </div>
        <div class="user-actions">
          <a href="/authentication/login">
            <button id="users-button"><i class="fa-solid fa-user-large"></i><h3>Ingresar</h3></button>
          </a>
          <a href="/products/cart">
            <button id="shoppings-button"><i class="fa-solid fa-cart-shopping"></i><h3>Carrito</h3></button>
          </a>  
        </div>
    </header>
    <div id="burger-menu">
        <button id="burger"><i class="fa-solid fa-bars barras"></i></button>
      </div>
    </div>
    <nav class="product-categories-nav">
        <ul class="product-categories">
            <li><a href="#">PC Armadas </a></li>
            <li><a href="#">Hardware</a></li>
            <li><a href="#">Periféricos</a></li>
            <li><a href="#">Notebooks</a></li>
            <li><a href="/admin/dashboard">Ver Todo</a></li>
        </ul>
    </nav>
</body>
</html>